# TOKENにGithubで発行したPersonal Access Token(classic)を設定
# ref: https://docs.github.com/ja/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#creating-a-personal-access-token-classic
//npm.pkg.github.com/:_authToken=TOKEN
@itfllc:registry=https://npm.pkg.github.com